<div id="nouveau_mail">
  <form name="formNouveauMail">
    <div class="grp_input">
      <label>À</label>
      <input type="email" ng-model="nouveauMail.to" />
    </div>
    <div class="grp_input">
      <label>Objet</label>
      <input type="text" ng-model="nouveauMail.subject" />
    </div>
    <div class="grp_input">
      <label>Message</label>
      <textarea rows="10" type="text" ng-model="nouveauMail.content" placeholder="Ecrire..."></textarea>
    </div>
    <div class="grp_input grp_input_btn">
      <button class="envoyer" ng-click="clickEnvoyerMail()">Envoyer</button>
      <button class="raz" ng-click="razMail()">Effacer</button>
    </div>
  </form>
</div>